.Landing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .LandingContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    max-width: 600px;

    padding: 20px;
    margin: 15px 25px 0;

    color: var(--base-black);
    background-color: var(--base-white);

    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    .LandingLogIn {
      display: inline-flex;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 160px;
      border-radius: 2px;
      border: none;
      padding: 0 20px;

      background-color: var(--base-purple);
      color: var(--base-white);
    }
  }

  .LandingHighlight {
    color: var(--base-purple);
  }

  .LandingContainerBlack {
    background-color: var(--base-black);
  }
}
