.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #F4F4F4;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png")
  // TODO: Rehost the image on my end.
}
