.Footer {
  display: flex;
  flex-direction: row;
  width: 100%;

  justify-content: center;
  align-items: center;

  padding: 5px;

  background-color: var(--base-black);
  color: var(--base-white);

  img {
    position: absolute;
    right: 15px;
    cursor: pointer;
  }
}
